@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-family: 'Open-Sans', sans-serif;
}

h4{
    text-align: center;
    font-size: 18px;
}

ol{
    text-align: left;
    font-size: 15px;
    border: black solid 1px;
    padding: 0 40px 40px 40px;
    margin-bottom: 50px;
}

button{
    width: 100px;
    padding: 5px;
}

button:hover{
    color: #ffffff;
    background-color: #bebebe;
}



.main-div{
    display: flex;
}

.container{
    align-items: center;
    width: 33.33%;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.visible{
    display: block;
}

.rules{
    width: 450px;
    margin: 0 auto;
}

.perm-score{
    padding: 5px 10px;
    border: black solid 1px;
    margin: 5px;;
}

.buttons{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.winning{
    text-transform: uppercase;
    border: black dashed 3px;
    padding: 50px;
    margin: 50px auto;
    text-align: center;
    width: 600px;
    display: block;
    font-size: 50px;
}

#dice-current-number{
    margin: 50px 0 75px 0;
}

#roll-dice{
    width: 200px;
    font-size: 20px;
    border: black dashed 2px;
}

div#player-1 h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#player-2 h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goal-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

div#goal-div h1{
    width: 500px;
    padding-bottom: 10px;
    border-bottom: black solid 1px;
}